// --------- Dashboard Style ----------
.analyse{
    padding:0 15px;
    .card-box.col-lg-3{
        max-width:24%;
        overflow: hidden;
        border-radius:10px;
        box-shadow:0 3px 5px #eaeaea;
        .row{
            padding-top:10px;
            padding-bottom:10px;
            color:#fff;
            .icon{
                font-size:$font_size + 46px;
            }
            .content{
                text-align:right;
                font-size:$font_size + 11px;
                div{
                    padding:10px 0;
                    span{
                        display:block;
                    }
                    span:last-child{
                        font-size:$font_size + 2px;
                    }
                }
            }

        }
        a{
            display: block;
            padding: 10px 0;
            div.footer{
                overflow: hidden;
                color:#007bff;
            }
        }
    }
    .card-box.col-lg-3:not(:first-child){
        margin-left:1.333%;
    }
    .card-box.col-lg-3:first-child{
        border:1px solid ;
        border-top-color: #00BCD4;
        border-left-color: #00BCD4;
        border-bottom-color:#2196F3;
        border-right-color:#2196F3;
        .row{
            background: linear-gradient(100deg, #00BCD4, #2196F3);
        }
        a{
            div.footer{
                color:#2196F3;
                &:hover{
                    color:#1a81d4;
                }
            }
            
        }
    }
    .card-box.col-lg-3:nth-child(2){
        border:1px solid;
        border-top-color: #fb6c6c;
        border-left-color: #fb6c6c;
        border-bottom-color:#d00e00;
        border-right-color:#d00e00;
        .row{
            background: linear-gradient(100deg, #fb6c6c, #d00e00);
        }
        a{
            div.footer{
                color:#d00e00;
                &:hover{
                    color:#b51105;
                }
            }
        }
    }
    .card-box.col-lg-3:nth-child(3){
        border:1px solid;
        border-top-color: #efc136;
        border-left-color: #efc136;
        border-bottom-color:#ffa013;
        border-right-color:#ffa013;
        .row{
            background: linear-gradient(100deg, #efc136, #ffa013);
        }
        a{
            div.footer{
                color: #ffa013;
                &:hover{
                    color:#d8870f;
                }
            }
        }
    }
    .card-box.col-lg-3:last-child{
        border:1px solid;
        border-top-color: #db66ef;
        border-left-color: #db66ef;
        border-bottom-color:#562ba2;
        border-right-color:#562ba2;
        .row{
            background: linear-gradient(100deg, #db66ef, #562ba2);
        }
        a{
            div.footer{
                color:#562ba2;
                &:hover{
                    color:#957ebd;
                }
            }
        }
    }
}
.orders{
    margin:50px 0;
    .new-orders{
        width:100%;
        text-align: center;
        .header{
            padding: 10px;
            background: #1f99f1;
            color: white;
        }
        .orders-body{
            border:1px solid #1f99f1;
            padding:10px;
        }
    }
    
}
@media (max-width:568.98px){
    .analyse{
        .card-box.col-lg-3{
            max-width:100% !important;
            margin-bottom:10px;
        }
        .card-box.col-lg-3:not(:first-child){
            margin-left:0;
        }
    }
    .orders{
        margin:0;
    }
}
@media (min-width:568.98px) and (max-width:992px){
    .analyse{
        .card-box.col-lg-3{
            max-width:49% !important;
            margin-bottom:10px;
        }
        .card-box.col-lg-3:not(:first-child){
            margin-left:0;
        }
        .card-box.col-lg-3:nth-child(2),.card-box.col-lg-3:nth-child(4){
            margin-left:2% !important;
        }
    }
    .orders{
        margin:0;
    }
}