//-------- insert style -------
.row{
    .panel{
        padding:20px;
        border:1px solid #ddd;
    }
    .page-header{
        background-color: #1f99f1;
        padding: 10px;
        color: #fff;
        margin: 0;
    }
    input,textarea{
        width:100%;
    }
}