//-------- Product style -------
.table-product{
    padding: 20px;
    border: 1px solid #ddd;
    .search{
        width:30%;
        position: relative;
        margin-bottom:20px;
        input{
            width: 100%;
            padding-right: 40px;
        }
        button{
            position: absolute;
            top:0;
            right: 0;
            background-color: #007bff;
            transition:all .2s ease-in-out;
            color: #fff;
            padding: 11px;
            border-radius: 5px;
            text-align: center;
            width: 40px;
            border:none;
            outline:none;
            &:hover{
                background-color:#2b66af;
            }
        }
        
    }
    td{
        vertical-align: middle !important;
        font-size:$font_size;
        button{
            font-size:$font_size;
        }
        a{
            text-decoration:none;
        }
    }
}
@media (max-width:767.98px){
    .table-product{
        .search{
            width:50%;
        }
    }
}