//-------- product categroy style -------
table{
    th{
        vertical-align:middle !important;
    }
    th.p-cat-id:first-child{
        width:150px;
    }
    .delete-edit{
        width:160px;
    }
}